@page "/carddetails"

<MudAlert Severity="Severity.Error">For entertainment Purposes Only!</MudAlert>
<MudCard>
<MudList Dense="true">
    <MudListItem>
        <MudText>Choose Payment Method</MudText>
        <MudItem xs="12">
            <h4>Pay by Credit Card</h4>
            <div class="form-group row">
                <label for="cardholderName" class="col-sm-6 col-form-label">Cardholder Name:</label>
                <input id="cardholderMame" class="form-control col-sm-6 input-lg" type="text" />
            </div>
        </MudItem>
    </MudListItem>

    <MudListItem>
        <MudText>Choose Payment Method</MudText>
        <MudItem xs="12">

            <div class="form-group row">
                <label for="cardNum" class="col-sm-6 col-form-label">Card Number:</label>
                <input id="cardNum" class="form-control col-sm-6 input-lg" type="number" />
            </div>

        </MudItem>
    </MudListItem>

    <MudListItem>
        <MudText>Choose Payment Method</MudText>
        <MudItem xs="12">
            <div class="form-group row">
                <label for="cardExpiryMo" class="col-sm-6 col-form-label">Expiration Month:</label>
                <input id="cardExpiryMo" class="form-control col-sm-6 input-lg" type="number" />
            </div>
        </MudItem>
    </MudListItem>
    <MudListItem>
        <MudText>Choose Payment Method</MudText>
        <MudItem xs="12">
            <div class="form-group row">
                <label for="cardExpiryYear" class="col-sm-6 col-form-label">Expiration Year:</label>
                <input id="cardExpiryYear" class="form-control col-sm-6 input-lg" type="number" />
            </div>
        </MudItem>
    </MudListItem>

    <MudListItem>
        <MudText>Choose Payment Method</MudText>
        <MudItem xs="12">
            <div class="form-group row">
                <label for="cardCvc" class="col-sm-6 col-form-label">CVC Security Code:</label>
                <input id="cardCvc" class="form-control col-sm-6 input-lg" type="number" />
            </div>
        </MudItem>
    </MudListItem>
</MudList>
</MudCard>

@code {

}
