@page "/confirmpayment"
@using NewVisionPayment.Models;
<h3>Confirm your payment</h3>


<MudCard>
    <MudList Dense="true">
        <MudListItem>
            <MudItem xs="8">
                <h2>Fine Amount @confirmFine.fineAmount</h2>
            </MudItem>
        </MudListItem>
        @if (confirmFine.minimumPayment > 0)
        {
            <MudListItem>
                <MudItem xs="8">
                    <h2>Minimum @confirmFine.minimumPayment</h2>
                </MudItem>
            </MudListItem>

        }
        <MudListItem>
            <MudForm>
                
            </MudForm>
        </MudListItem>
    </MudList>

</MudCard>

@code {
    [Parameter]
    public NewVisionCustomer confirmFine { get; set; } = new NewVisionCustomer();
}
