@page "/failure"
@using NewVisionPayment.Models;

<MudCard>
    <MudCardHeader>
    </MudCardHeader>
    <MudCardContent>

        <h1> CARD DECLINED</h1>
        <h2> Please try again with another payment method</h2>


    </MudCardContent>
</MudCard>



@code{
    // This is the id we will carry over from our beginning screen and passed through via the
    [Parameter]
    public NewVisionCustomer displayCustomer { get; set; } = new NewVisionCustomer();
}