@page "/failure"
@using NewVisionPayment.Models;

<MudCard>
    <MudCardHeader>
    </MudCardHeader>
    <MudCardContent>

        <h1> CARD DECLINED</h1>
        <h2> Please try again with another payment method</h2>

        <h3> Use the Back button below to get to the previous screen. </h3>

    </MudCardContent>
    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8" @onclick="@pageDeclined">Back</MudButton>
</MudCard>



@code{
    // This is the id we will carry over from our beginning screen and passed through via the
    [Parameter]
    public NewVisionCustomer displayFail { get; set; } = new NewVisionCustomer();

    public byte pageNumber = 0;

    void pageDeclined()
    {
        pageNumber = 1;
    }
}