<h3>Case Id</h3>


<MudForm>
    <h3>@caseId</h3>
    <MudTooltip Text="Put your case number in here!">
        <MudTextField @bind-Value="@NewCaseNumber" Label="Case Id" Variant="Variant.Text"></MudTextField>
    </MudTooltip>

    <MudTooltip Text="Click here to enter your case id.">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddCaseId"> What is your case id??</MudButton>
    </MudTooltip>

    @if (alert)
    {

        <MudAlert Severity="Severity.Warning">You must type a number for your case id.</MudAlert>
    }

</MudForm>

@code
{
    [Parameter]
    public int caseId { get; set; }

    private string NewCaseNumber;
    private int newCaseId;
    private bool alert = false;

    private void AddCaseId()
    {
        if (string.IsNullOrWhiteSpace(NewCaseNumber))
        {
            alert = true;
        }
        if (!string.IsNullOrWhiteSpace(NewCaseNumber))
        {
            if (int.TryParse(NewCaseNumber, out newCaseId)){
                alert = false;
            }

        }
    }


}
