<h3>Name</h3>



    <h3>@caseId</h3>
    <h4>Page 2</h4>
    

    <MudPaper Color="Color.Primary">
        <p>
            KAJSDC:KJAS"LAKDNV|'lkdNV"LSKDVN"LSDKVN"SLDKVNOSFJvh;sk"'"
        </p>

    </MudPaper>

   



@code
{
    [Parameter]
    public int caseId { get; set; }

    


}