@page "/payfine"
@using NewVisionPayment.Models;


<MudCard>
    <MudList Dense="true">
        <MudListItem>
            <MudItem xs="8">
                <h2>Fine Amount @displayFine.fineAmount</h2>
            </MudItem>
        </MudListItem>
        @if (displayFine.minimumPayment > 0)
        {
            <MudListItem>
                <MudItem xs="8">
                    <h2>Minimum @displayFine.minimumPayment</h2>
                </MudItem>
            </MudListItem>

        }
    <MudListItem>
        <MudForm>

        </MudForm>
        </MudListItem>
</MudList>

 </MudCard>



    @code{
        [Parameter]
        public NewVisionCustomer displayFine { get; set; } = new NewVisionCustomer();

        public void FormSubmit()
        {
            //
        }
    }
