@page "/startpanel"

@inject NavigationManager NavigationManager
@inject ICosmosDbService CosmosDbService

@using System.Collections.Generic;
@using System.Net;
@using Microsoft.Azure.Cosmos;
@using NewVisionPayment.Models;
@using NewVisionPayment.Services;
@using NewVisionPayment.Controllers;

<MudCard Elevation="0">
    <MudCardHeader>
    </MudCardHeader>
    <MudCardContent>
        <MudList>
            <MudListItem>
                <MudText>Enter your Case Identifier here:</MudText>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Case Id" />
                </MudItem>
            </MudListItem>
            <MudListItem>
                <MudText>Enter your reference number here:</MudText>
                <MudItem xs="12">
                    <MudTextField T="String" @bind-Value="Id" Label="Reference Number" />
                </MudItem>
            </MudListItem>
            <MudListItem>
                <MudItem>
                    <div>
                        
                    </div>
                </MudItem>
            </MudListItem>
        </MudList>
    </MudCardContent>
    @customer
</MudCard>



@code{

    [Parameter]
    public NewVisionCustomer customer{ get; set; } = new NewVisionCustomer();
    public string Id;

    // async void HandleSubmit(string Id)
    //    {
    //<button class="btn btn-primary" @onclick="(()=> HandleSubmit(customer.Id))" href="/payment">Click to Continue</button>
    //  chooseCustomer.getCustomer(CosmosDbService.customers, Id);
    //
    //   }

}