@page "/help"

<MudCard>
<h3>This is the help Page</h3>
   If you are having difficulties using the site, some of the answers you need may be on this page.
  <MudCard>
    <MudCardHeader>
        Frequently Asked Questions and Comments:
      </MudCardHeader>
    <MudList>
      <MudListItem>Where can I find my Case ID?</MudListItem>
      <MudListItem>Where can I find my Online Reference?</MudListItem>
      <MudListItem>My details are wrong, what should I do?</MudListItem>
      <MudListItem>Do I have to pay my own fine?</MudListItem>
      <MudListItem>I don't think I should have to pay this fine.</MudListItem>
      <MudListItem>What will happen if I do not pay this fine?</MudListItem>
    </MudList>
  </MudCard>
  
</MudCard>  

@code {

}
